body{
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    flex-direction: column;
}
.cell{
    background-color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color:aliceblue;
}
#heading{
    font-size: 40px;
    color:aliceblue;
    position: relative;
    bottom:5%;
}
#game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aqua;
    gap:4px;
    width: 400px;
    height: 400px;
}
img{
    height: 70px;
    color:white;
    background-color: yellow;
    margin-top: 48px;
     
}