#ff{
    display:flex;
    justify-content: space-between;
    outline: 2px solid red; 
     width: 500px;
      height:150px;
      background-color: aqua;
      align-items: center;
}
.bt{
    border: 2px solid black;
    width: 90px;
    height:50px;
    font-weight: bold;
    margin: 15px;
}
#hea{
    font-weight: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}