#ff{
    display:flex;
    justify-content: space-between;
    outline: 2px solid red; 
     width: 500px;
      height:150px;
      background-color: aqua;
      align-items: center;
}
.bt{
    border: 2px solid black;
    width: 90px;
    height:50px;
    font-weight: bold;
    margin: 15px;
}
#hea{
    font-weight: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
.scores{
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        align-content: center;
        align-items: center;
        gap:5px;
       

}

.cs {
          text-decoration: dashed;
          font-size: 30px;
          font-weight: 700;
          border: 3px solid green;
          border-radius: 30px;
          padding: 10px;
          margin-bottom: 20px;
          margin:10px;

}
#plscore, #comscore{
    text-align: center;
    font-size: 55px;
    color: blue;
    background-color: antiquewhite;
    border-radius: 60px;
     box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);

}
