table{
    border:1px solid black;
    border-collapse: collapse;
}
td, th{
    
    text-align: center;
}


  
  td {
    letter-spacing: 1px;
    border: 1px solid grey;
    font-family: 'Times New Roman', Times, serif;
    
  }
  tbody tr:nth-child(odd) {
    background-color:lightgrey
  }
  
  tbody tr:nth-child(even) {
    background-color: lightblue;
  }
  tbody th.type:nth-child(odd) {
    background-color:lightcoral;
  }
  
  tbody th.type:nth-child(even) {
    background-color: lightpink;
  }
 th{         letter-spacing: 2px;
           border: 1px solid black;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           font-weight: 200px;
 }
  
  table {
    background-color: red;
  }
  .plan{
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  #down{
    border-bottom: 3px solid black;
  }
  #top{
    border-top: 3px solid black;
  }