table{
    border:1px solid black;
    border-collapse: collapse;
    border-spacing:0.5em;
}
td, th{
    
    text-align: left;
    padding: 5px;

}

  td {
    letter-spacing: 1px;
    border: 1px solid grey;
    font-family: 'Times New Roman', Times, serif;
    
  }
  tbody tr:nth-child(odd) {
    background-color:lightgrey;
  }
  
  tbody tr:nth-child(even) {
    background-color:white;
  }

 th{        
   letter-spacing: 2px;
  border: 1px solid black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200px;
 }
  

  .plan{
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
  #down{
    border-bottom: 3px solid black;
  }
  #top{
    border-top: 3px solid black;
  }
  thead th {
   background-color: #f39c12; /* deep blue-gray */
  color: white;     
    text-transform: uppercase;

   
}
tbody th[scope="row"] {
  background-color: #7f8c8d;  /* Cool gray */
  color: white;
}